body{
    background-image: url(img3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

p{
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border-top: 5px solid rgb(116, 118, 114);
}













